<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd 
	http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<description>Spring-web MVC</description>
	
	<!-- 启动基于Spring MVC的注解功能   -->
	<mvc:annotation-driven />
	
	<!-- 对所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
	<context:component-scan base-package="org.yy">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
	</context:component-scan>	
    
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/page/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 为了REST风格，webxml配置url-pattern为/，需要配置不需要跳转的静态资源，配置.do,.form等不需要此处 -->
	<mvc:resources mapping="/image/**" 	  location="/image/"    cache-period="31556921"/>
	<mvc:resources mapping="/js/**"    	  location="/js/"       cache-period="31556922"/>
	<mvc:resources mapping="/css/**"   	  location="/css/"      cache-period="31556923"/>
	<mvc:resources mapping="/resource/**" location="/resource/" cache-period="31556924"/>
	

	
</beans>