<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>妙购卡密码修改</title>
</head>

<body style="color:#333;font-size:12px;font-weight:normal;font-family:'lucida Grande',Verdana;padding:0 7px 6px 4px;margin:0;">

	<div style="height: auto; min-height: 400px; font-size: 13px; padding: 0px; font-family:'lucida Grande',Verdana; font-family:'lucida Grande',Verdana;  margin-top:20px;">
    
    	<table border="0" align="center" width="650"  bgcolor="#ffffdf" cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto;font-size:13px;color:#333; ">
    
        <tbody>
        <tr>

        <td style=" border-bottom:5px solid #e7a117;"><a href="http://www.miugopay.com/" target="_blank"><img src="http://www.miugopay.com/images/mg_logo.jpg" width="650" height="61" alt="" border="0" /></a></td>
        

        </tr>
        
        <tr>
        	<td style="padding-top:2px; border-bottom:1px solid #e7a117;"></td>
        </tr>
        
        <tr>
        
        	<td style="font-size:20px; padding:20px 0px 5px 20px;">亲爱的会员 ：</td>
        
        </tr>
        
         <tr>
        
        	<td style="font-size:20px; padding:0px 0px 20px 20px;">${register_name}  您好！</td>
        
        </tr>
        
         <tr>
        
        	<td style="font-size:17px; padding:0px 0px 5px 20px; color:#666;">请在重置密码弹窗中输入该验证码：<b style="font-weight:bold; color:#333;">${register_code}</b></td>
        
        </tr>
        
        
        <tr>
        
        	<td style="font-size:17px; padding:0px 0px 30px 20px; color:#ccc;">（该验证码在5分钟内有效，5分钟后需要重新获取）</td>
        
        </tr>
        
        
        
        </tbody>
        
    </table>

	<table border="0" align="center" width="650"   cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto;font-size:13px;color:#333; ">
    
        <tbody>

        
         <tr>

        <td align="center" style="font-size:15px; padding:30px 0px 10px 0px;">此信由妙购一卡通系统发出，系统不接收回信，因此请勿直接回复。</td>
        

        </tr>
        
        <tr>

        <td align="center" style="font-size:15px; padding:0px 0px 20px 0px;">如有任何疑问，请联系<a href="http://chat.53kf.com/company.php?arg=miugo&style=1" style=" text-decoration:underline; color:#e6a11b;" target="_blank">妙购客服</a>，或者致电客服电话：<a style=" text-decoration:none; color:#e6a11b;">400-8848-168</a></td>
        

        </tr>
        
         <tr>

        <td align="center" style="font-size:14px; padding:0px 0px 30px 0px;">Copyright 2012-2012， 版权所有 MIUGOPAY.COM</td>
        

        </tr>
       
        </tbody>
        
    </table>

	</div>

</body>
</html>
